# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.idea

wrongsecrets-c
wrongsecrets-c-arm
wrongsecrets-cplus
wrongsecrets-cplus-linux
wrongsecrets-cplus-arm
wrongsecrets-golang
wrongsecrets-golang-arm
wrongsecrets-rust
wrongsecrets-rust-arm
wrongsecrets-c-linux
wrongsecrets-cplusplus

dockcross-linux-x64
dockcross-linux-arm64
dockcross/
.vscode/