name: dotnet package

on:
    workflow_dispatch:
    push:
      paths:
        - 'dotnet/**'
        - '.github/**'
    pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        runtime: [ 'osx-x64','osx-arm64','win-x64','win-arm64','linux-x64','linux-arm64','linux-musl-x64','linux-musl-arm64']
    steps:
      - uses: actions/checkout@v6
      - name: Setup dotnet
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
      - name: Build and Package ${{ matrix.runtime }}
        run: |
            cd dotnet/dotnetproject
            dotnet build dotnetproject.csproj --runtime ${{ matrix.runtime }} --self-contained true
            dotnet publish dotnetproject.csproj --runtime ${{ matrix.runtime }} /p:PublishSingleFile=true
            ls /home/runner/work/wrongsecrets-binaries/wrongsecrets-binaries/dotnet/dotnetproject/bin/Release/net8.0/${{ matrix.runtime }}/publish/
            cd ../..
      - name: Build and Package CTF ${{ matrix.runtime }}
        run: |
            echo "Generating CTF secrets..."
            ./generate_ctf_secrets.sh generate
            cd dotnet/dotnetproject
            dotnet build dotnetproject.csproj --runtime ${{ matrix.runtime }} --self-contained true
            dotnet publish dotnetproject.csproj --runtime ${{ matrix.runtime }} /p:PublishSingleFile=true /p:PublishDir=./bin/Release/net8.0/${{ matrix.runtime }}/publish-ctf/
            ls /home/runner/work/wrongsecrets-binaries/wrongsecrets-binaries/dotnet/dotnetproject/bin/Release/net8.0/${{ matrix.runtime }}/publish-ctf/
            cd ../..
            # Restore original files
            ./generate_ctf_secrets.sh restore
      - name: Uploading executables
        uses: actions/upload-artifact@v6
        with:
          name: executable-dotnet-${{ matrix.runtime }}
          path: |
            /home/runner/work/wrongsecrets-binaries/wrongsecrets-binaries/dotnet/dotnetproject/bin/Release/net8.0/${{ matrix.runtime }}/publish/
            /home/runner/work/wrongsecrets-binaries/wrongsecrets-binaries/dotnet/dotnetproject/bin/Release/net8.0/${{ matrix.runtime }}/publish-ctf/
